<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Food</title>
  </head>
  <body class="js-container detailsfood">
    <button class="returnfood" onclick="window.history.back();">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 980.05 840.1">
        <defs>
          <style>
            .cls-1 {
              font-size: 128.68px;
              fill: #fff;
              font-family: Inter-Black, Inter;
              font-weight: 800;
              letter-spacing: -0.01em;
            }
            .cls-2 {
              letter-spacing: 0em;
            }
          </style>
        </defs>
        <g id="Calque_2" data-name="Calque 2">
          <g id="Calque_1-2" data-name="Calque 1">
            <path
              d="M370.55,819.55a70,70,0,0,0,99-99l-230.5-230.5h671a70,70,0,0,0,0-140h-671l230.5-230.5a70,70,0,0,0-99-99l-350,350a69.89,69.89,0,0,0,0,99l350,350Z"
            />
            <text class="cls-1" transform="translate(359.28 465.28)">
              R
              <tspan class="cls-2" x="84.45" y="0">eturn</tspan>
            </text>
          </g>
        </g>
      </svg>
    </button>
    <h1 class="title_details"></h1>
    <h2>Summarise of this recipe :</h2>
    <p class="sum_details"></p>
    <div class="ingredientfood">
      <!--<?php $numbers = count($food["ingredients"]); ?>-->
      <table>
        <tr>
          <th colspan="4">Ingredients</th>
        </tr>
        <tr>
          <td class="subtitle" colspan="2" rowspan="2">Name</td>
          <td class="subtitle" colspan="2">Values</td>
        </tr>
        <tr>
          <td class="measurement">Metric</td>
          <td class="measurement">US</td>
        </tr>
        <!--@for ($i = 0; $i < $numbers; $i++)-->
        <tr>
          <td>
            <img class="ingredient_details" src="./images/Blackground.png" />
          </td>
          <td class="ingredientname_details"></td>
          <td class="ingredientmetric_details">
            <span></span>
          </td>
          <td class="ingredientus_details">
            <span></span>
          </td>
        </tr>
        <!--@endfor-->
      </table>
      <!--<?php $numbers_equip = count($equipment["equipment"]); ?>-->
      <h2>Equipments :</h2>
      <div class="equipmentfood">
        <!--@for ($i = 0; $i < $numbers_equip; $i++)-->
        <img class="equipmentimg_details" src="./images/Blackground.png" />
        <!--@endfor-->
      </div>
    </div>
    <!--<?php $numbers_instru = count($instruction[0]["steps"]); ?>-->
    <ol>
      <!--@for ($i = 0; $i < $numbers_instru; $i++)-->
      <li class="instructions_details"></li>
      <!--@endfor-->
    </ol>
  </body>
</html>
